

<form action="/form" method="post">
  <input type="text" name="<% @login %>" placeholder="username">
  <input type="password" name="<% @password %>" placeholder="password">
  <input type="submit" value="Go">
</form>

