<!-- layout.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sinatra baby!</title>
   <link type="text/stylesheet" href="main.css" />
  <script type="text/javascript" src="main.js"></script>
</head>
<body>
 <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/double_time">Two-times</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>